<div class="jumbotron">
    <h1>BebelBaby</h1>
    <p class="lead">Sistema de Gerenciamento de Produção.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Leia mais &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Começando</h2>
        <p>Este sistema atende o processo de fabricação da BebelBaby, desde a parte de confecção de peças até a entrega de mercadorias. Tem o propósito de gerenciar todos os processos da empresa.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Configuração &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Relatórios</h2>
        <p>Área com acesso a todos os relatórios que o sistema possui exibindo informações importantes para o processo.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Acesse os Relatórios &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ajuda</h2>
        <p>Área destinada a exibição de material de ajuda/faq da aplicação. Manuais e dúvidas respondidas você encontrará aqui!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Acesse &raquo;</a></p>
    </div>
</div>
